<!DOCTYPE html>
<html>
    <head>
        <% include partials/header %>
    </head>
    <body>
      <div class="w3-container l3 w3-text-grey w3-padding" >
        <% include partials/nav %>
            <div class="w3-row ">
                <div class="w3-col l1">
                    <p></p>
                </div>
                <div class="w3-col l3">
                    <h2>Product List</h2>
                    <% res1.forEach(function(product) { %>
           
                      <div class="w3-panel w3-border w3-hover-border-teal">
                         <p>Id: <%= product.Id %></p>
                         <p>Name: <%= product.Name %> </p>
                         <p>Description: <%= product.Descript %> </p>
                         <p>Price: &euro;<%= product.Price %> </p>
                         
                         <a href="/product-update/<%= product.Id %>" class="w3-button w3-teal">Update </a> &nbsp;
                         <a href="/product-delete/<%= product.Id %>" class="w3-button w3-teal">Delete </a> &nbsp;
                         <a href="/item/<%= product.Id %>" class="w3-button w3-teal">View </a>
                         <br /><br />
                       </div>
                    <% }); %> 
                </div>
                <div class="w3-col l3">
                    <h2>&nbsp;</h2>
                </div>
                <div class="w3-col l3">
                    <h2>Add Item</h2> <a href="/add-item" class="w3-button w3-teal">Add new Item</a>
                    <%// if (users.length > 0) { %>
                    <% if (undefined) { %>
                        <% res2.forEach(function(users) { %>
                          <div class="w3-panel w3-border w3-hover-border-teal">
                            <p>Name: <%= users.Fname %> <%= users.Lname %></p>
                            <p>Email: <%= users.Email %> </p>
                           </div>
                        <% }); %> 
                    <% } else{ %>
                        <p>nothing to see here</p>
                    <% } %>
                </div>
            </div>
        <% include partials/footer %>
      </div>
  </body>
</html>
  